/* /* h2{
    color:blue;
}

p{
    color:aqua;
    text-align: center;
    font-size: 25px;
}

.par{
    color:bisque;
}

#ab{
    color:pink;
}
div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 10px;
    border:2px solid red 
} */
 /* div{
    border: 5px solid ;
 }
 h2{
    text-align: center;
    color:purple
 }
 p{
    color:red
 } */

 /* .ab{
    display: block;
 }
.ab1{
    display: inline;
}
  */

  /* .container {
                width: 520px;
                height: 310px;
                border: 2px solid black;
            }

 .box1 {
                    display: inline-block;
                    width:150px;
                    height:200px;
                    background-color:rgb(182,182,47);
                    margin:10px;
                    text-align:center;
                }

 .box2 {
                    display:inline-block;
                    width:150px;
                    height:200px;
                    background-color:rgb(216,45,96);
                    margin:10px;
                    text-align:center;
                }

 .box3 {
    display: inline-block;
    width:150px;
    height:200px;
    background-color:lightblue;
    margin:10px;
    text-align:center;
}
 */

 /* .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid black;
 flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap:10px ;
    
 }
 .item{
    height: 100px;
    width: 200px;
    background: chocolate;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    flex-grow:2 ;

 }

 .item2{
    order: -1;
    flex-grow: 2;
    align-self:flex-end;
 } */

.container {
    display: grid;
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    background-color: aqua;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px);
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
     column-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}   
.item {
     height: 100px;
    width: 100px; 
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    align-items: center;
}
/* .item1 {
    grid-area: header;
}
.item2 {
    grid-area: main;
}
.item3 {
    grid-area: sidebar;
}
.item4 {
    grid-area: footer;
} */

/* @media(max-width:768px){              /*media for responsive designing for other devises
    p{font-size:30px;}
    body{background-color: green;} 
}*/

/* .box{
            width: 100%;
            height: 100px;
            background-color: green;
        } */
/* @media (min-width:768px){     tablet
    .box{
        background-color: red;
    }
}
li{
    list-style-type: none;
    text-decoration: none;
}
nav ul{
    display: flex;  
    justify-content: space-around;
} */

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: #333;
    padding: 1rem;
}
.logo{
    color:#fff;
    font-size: 1.5rem;
}
.menu{
    display: none;
    flex-direction: column;
    background:#444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}