/* /* h2{
    color:blue;
}

p{
    color:aqua;
    text-align: center;
    font-size: 25px;
}

.par{
    color:bisque;
}

#ab{
    color:pink;
}
div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 10px;
    border:2px solid red 
} */
 /* div{
    border: 5px solid ;
 }
 h2{
    text-align: center;
    color:purple
 }
 p{
    color:red
 } */

 /* .ab{
    display: block;
 }
.ab1{
    display: inline;
}
  */

  /* .container {
                width: 520px;
                height: 310px;
                border: 2px solid black;
            }

 .box1 {
                    display: inline-block;
                    width:150px;
                    height:200px;
                    background-color:rgb(182,182,47);
                    margin:10px;
                    text-align:center;
                }

 .box2 {
                    display:inline-block;
                    width:150px;
                    height:200px;
                    background-color:rgb(216,45,96);
                    margin:10px;
                    text-align:center;
                }

 .box3 {
    display: inline-block;
    width:150px;
    height:200px;
    background-color:lightblue;
    margin:10px;
    text-align:center;
}
 */

 .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid black;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap:10px ;
    
 }
 .item{
    height: 100px;
    width: 200px;
    background: chocolate;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    flex-grow:2 ;

 }

 .item2{
    order: -1;
    flex-grow: 2;
    align-self:flex-end;
 }
